<script type="text/javascript">
    function showUtilTable(data) {
        $('#type-filter').val('all');
        $('#threshold-filter').val('all');
        $('#utilTbl').find('tbody tr').each(function () {
            $(this).remove();
        });

        $('#txtSearch').val("");

        for (let i in data) {
            if (data[i].THRESHOLD == 'OK') {
                THRESHOLD = '<span class="fa fa-circle " style="color:#16a085"></span>'
                color1 = "green"
            } else if (data[i].THRESHOLD == 'Warning') {
                THRESHOLD = '<span class="fa fa-circle " style="color:#f1c40f"></span>'
                color1 = "yellow"
            } else if (data[i].THRESHOLD == 'Alert') {
                THRESHOLD = '<span class="fa fa-circle " style="color:#e74c3c"></span>'
                color1 = "red"
            } else if (data[i].FLAG == '1') {
                THRESHOLD = '<span class="fa fa-flag " style="color:#e67e22"></span>'
                color1 = "flag"
            } else {
                THRESHOLD = "";
                color1 = "no"
            }
            if (data[i].STATUS == 'INACTIVE' && data[i].TYPE == 'METERING') {
                status = 'style="color:red"';
            } else {
                status = "";
            }

            if (data[i].TYPE == 'METERING') {

                if (data[i].ID == "") {
                    name = "" + data[i].NAME;
                    value = "";
                } else {
                    name = "" + data[i].NAME + " (" + data[i].ID + ")";
                    value = "";
                }

            } else {
                name = data[i].NAME;
                if (data[i].TYPE == 'PIPELINE') {
                    value = "ft/s";
                } else if (data[i].TYPE == 'GATESTATION') {
                    value = "%";
                }
                else { value = " " }
            }

            $('#utilTbl > tbody:last-child').append('<tr id="' + data[i].NO + '" class="rowfil pointer" data-color="' + color1 + '" data-type="' + data[i].TYPE + '" ' + status + '><td><h6 class="margin-lr0">' + THRESHOLD + '</h6></td><td><h6 class="margin-lr0">' + name + '</h6></td><td><h6 class="margin-lr0">' + data[i].VALUE + '</h6></td><td><h6 class="margin-lr0">' + value + '</h6></td><td><h6 class="margin-lr0">' + data[i].TYPE + '</h6></td></tr>');
            $('#utilTbl > tbody >tr:last-child').data('map_info', data[i]);
            $('#utilTbl > tbody >tr:last-child').click(utilTblOnclick);
        }
    }

    function utilTblOnclick() {
        $('#ModalMapDashboard').modal('show');
        let map_info = $(this).data("map_info");
        map_dashboard_json = {
            "menu": "dashboard",
            "type": map_info.TYPE,
            "command": "view",
            "flag": $('#flag').val() == 1 ? true : false,
            "flagby": $('#username').val(),
            "parameter": {
                "REGION": map_info.REGION,
                "LICENSE": map_info.LICENSE,
                "NAME": map_info.NAME,
                "MONTH": map_info.MONTH,
                "YEAR": map_info.YEAR,
            }
        }
        map_frame = document.getElementById('map_frame');
        map_frame.contentWindow.postMessage(map_dashboard_json, '*');
    }

    function Graphfilter(label, type) {
        //console.log(label);
        if (label == 'OK') {
            color = 'green'
        } else if (label == 'Flag') {
            color = 'flag'
        } else if (label == 'Alert') {
            color = 'red'
        } else if (label == 'Warning') {
            color = 'yellow'
        }

        var filters = {
            "color": color,
            "type": type,

        }

        $('.rowfil')
            .hide()
            .filter(function () {
                var
                    self = $(this),
                    result = true; // not guilty until proven guilty
                //console.log(filters);
                Object.keys(filters).forEach(function (filter) {
                    if (filters[filter] && (filters[filter] != 'all') && (filters[filter] != 'Any')) {
                        result = result && filters[filter] === self.data(filter);
                    }
                });
                return result;
            })
            .show();

        if (type == 'PIPELINE') {
            $('#type-filter').val('PIPELINE');
            $('#threshold-filter').val(color);
        } else if (type = 'GATESTATION') {
            $('#type-filter').val('GATESTATION');
            $('#threshold-filter').val(color);
        }
    }

    function showPIE(pStrMode, pListData) {
        let strIdPie = "";
        let objGraph = null;
        if (pStrMode === "PIPELINE") {
            strIdPie = "#piePipeline";
            objGraph = _graphPipeLine;
        } else if (pStrMode === "GATESTATION") {
            strIdPie = "#pieGate";
            objGraph = _graphGate
        }
        if (objGraph != null) {
            objGraph.destroy();
        }
        //if (!pListData || !pListData.length) {
        //    return;
        //}
        let intAlert = 0;
        let intWarning = 0;
        let intPass = 0;
        let intFlag = 0;
        for (let i in pListData) {
            let data = pListData[i];

            if (data.TYPE !== pStrMode) {
                continue;
            }
            switch (data.THRESHOLD) {
                case "OK":
                    intPass++;
                    break;
                case "Alert":
                    intAlert++;
                    break;
                case "Warning":
                    intWarning++;
                    break;
                case "Flag":
                    intFlag++;
                    break;
            }
        }

        var ds = [];
        var dsData = [intAlert, intWarning, intPass, intFlag];
        //var dsData = [intPass, intWarning, intAlert, intFlag];
        if (!dsData.every(function (x) { return x === 0 })) {
            ds = [{
                label: "Test Data",
                data: dsData,
                fill: false,
                backgroundColor: ["#e74c3c", "#f1c40f", "#16a085", "#e67e22"],
                hoverBackgroundColor: ["#e74c3c", "#f1c40f", "#16a085", "#e67e22"],
                //borderColor: ["#e74c3c", "#f1c40f", "#16a085", "#e67e22"],
                borderWidth: 0
            }];
        };
        let dataT = {
            labels: ["Alert", "Warning", "OK", "Flag"],
            datasets: ds
        };

        let ctx = $(strIdPie).get(0).getContext("2d");
        objGraph = new Chart(ctx, {
            type: 'doughnut',
            data: dataT,
            options: {
                responsive: true,
                pieceLabel: { mode: 'value', fontColor: 'white' },
                title: { display: true },
                legend: { position: 'bottom' },
                scales: {
                    xAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: false, labelString: '' } }],
                    yAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: false, labelString: '' }, ticks: { stepSize: 50, beginAtZero: true } }]
                },
                onClick: chartClcikEvent
            }
        });
        if (pStrMode === "PIPELINE") {
            _graphPipeLine = objGraph;
        } else if (pStrMode === "GATESTATION") {
            _graphGate = objGraph;
        }
        objGraph.update();
        function chartClcikEvent(evt) {
            var activePoints = objGraph.getElementsAtEvent(evt);
            if (activePoints[0]) {
                var chartData = activePoints[0]['_chart'].config.data;
                var idx = activePoints[0]['_index'];

                var label = chartData.labels[idx];
                var value = chartData.datasets[0].data[idx];


                Graphfilter(label, pStrMode);

            }
            // dashtbt.scrollTo(0, 0);
        }

        //var canvas = document.getElementById("pieGate");

        //canvas.onclick = function (evt) {
        //    var activePoints = objGraph.getElementsAtEvent(evt);
        //    if (activePoints[0]) {
        //        var chartData = activePoints[0]['_chart'].config.data;
        //        var idx = activePoints[0]['_index'];

        //        var label = chartData.labels[idx];
        //        var value = chartData.datasets[0].data[idx];


        //        Graphfilter(label, "GATESTATION");

        //    }
        //    dashtbt.scrollTo(0, 0);
        //};

        //var canvas1 = document.getElementById("piePipeline");

        //canvas1.onclick = function (evt) {
        //    var activePoints = objGraph.getElementsAtEvent(evt);
        //    if (activePoints[0]) {
        //        var chartData = activePoints[0]['_chart'].config.data;
        //        var idx = activePoints[0]['_index'];

        //        var label = chartData.labels[idx];
        //        var value = chartData.datasets[0].data[idx];


        //        Graphfilter(label, "PIPELINE");

        //    }
        //    dashtbt.scrollTo(0, 0);
        //};
    }
</script>