<button class="accordion b">Operation  &amp; Maintenance</button>
<div class="panel">
    <div class="ph0-xs">
        <div style="padding-bottom:.5rem;padding-top:1rem">

            <div class="col-lg-8 col-md-12 col-lg-offset-2">
                <div class="row">
                    <div class=" p-3 mb-2 col-container col-container-white text-dark ">
                        <!--OM Pipeline Station Radial Gauge -->
                        <div class="col-md-4">

                            <div style="font-family: Corbel; font-size: small ;text-align:center " class="row">
                                <center>
                                    <div class="pt5 ">Pipeline</div>
                                    <div class="pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs mv2">
                                        <canvas data-pie-om="pipeline" style="padding: 0;margin: auto;display: block; "> </canvas>
                                    </div>
                                </center>
                            </div>
                        </div>
                        <!--OM Gate Station Radial Gauge -->
                        <div class="col-md-4">

                            <div style="font-family: Corbel; font-size: small ;text-align:center " class="row">
                                <center>
                                    <div class="pt5 ">Gate Station</div>
                                    <div class="pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs mv2">
                                        <canvas data-pie-om="gate" style="padding: 0;margin: auto;display: block; "> </canvas>
                                    </div>
                                </center>
                            </div>
                        </div>
                        <!--OM Meter Radial Gauge -->
                        <div class="col-md-4">

                            <div style="font-family: Corbel; font-size: small ;text-align:center " class="row">
                                <center>
                                    <div class="pt5 ">Meter</div>
                                    <div class="pieGraph-lg pieGraph-md pieGraph-sm pieGraph-xs mv2">
                                        <canvas data-pie-om="meter" style="padding: 0;margin: auto;display: block; "> </canvas>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class=" p-3 mb-2 col-container col-container-white text-dark ">
                        <!--Search Donut Graph-->
                        <div class="col-xs-12" style="padding-left:0rem;padding-right:0rem;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-15px pb-15px pr-0 pl-0 border-left-md border-left-lg" style="float:none">
                                <div class="form-inline">
                                    <center>
                                        <div class="input-group" style="z-index:0!important">
                                            <div class="input-group-btn col-lg-1 col-md-3 col-sm-3 col-xs-3 fn-xs" style="padding-left:0rem;padding-right:0rem;">

                                                <select class="form-control form-control-sm fz-12px" id="om-type-filter" style="height: 30px !important;">
                                                    <option id="seAll" class="fz-12px drop_role" value="all">All</option>
                                                    <option id="sePipeline" class="fz-12px drop_role" value="pipeline">Pipeline</option>
                                                    <option id="seGate" class="fz-12px drop_role" value="gate">Gate Station</option>
                                                    <option id="seMeter" class="fz-12px drop_role" value="meter">Meter Station</option>
                                                </select>

                                            </div>
                                            <div class="input-group-btn col-lg-1 col-md-6 col-sm-6 col-xs-6 fn-xs" style="padding-left:0rem;padding-right:0rem;">
                                                <input id="txtOMSearch" class="form-control input-sm" type="text" aria-describedby="name-desc" placeholder="Search by RC Name" onkeyup="OMTableSearch()">
                                            </div>
                                        </div>
                                    </center>
                                </div>
                                <br />

                                <div class="table-responsive " id="TableOm">
                                    <div class="tableFixHead" id="dashtbtOM">
                                        <table class=" table table-striped table-hover" id="omTbl">
                                            <thead>
                                                <tr>
                                                    <th>Region</th>
                                                    <th>Name</th>
                                                    <th>Plan</th>
                                                    <th>Actual</th>
                                                    <th>Type (Pipeline, Gate, MR)</th>
                                                    <th>Activity</th>
                                                </tr>
                                            </thead>
                                            <tbody class="scrollable-height scrollable-height-lg">
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>