.text-middle {
    vertical-align: middle !important;
}

.text-vertical {
    display: block;
    filter: flipv fliph;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    white-space: nowrap;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chart-wrapper .chart {
    display: inline-block;
    margin: auto 0;
    border: 1px solid #ddd;
    overflow: hidden;
}

.pm-name {
    text-align: center;
    vertical-align: middle !important;
}