.gotoXYComponent {
    /*margin: 9px;
    color: darkgray;*/
}

/*.gotoXYComponent > div {
        padding-bottom: 10px;
    }*/

/*.gotoXYComponent > div:last-child {
        padding-top: 10px;
    }*/
.marginR3px {
    margin-right: 3px;
}

.gotoXYComponent .label {
    width: 100px;
    padding: 4px 8px;
}

.gotoXYComponent .d-flex {
    display: flex;
}

.gotoXYComponent .flex {
    flex: 1;
}

.gotoXYComponent .input,
.gotoXYComponent .select {
    /*border-width: 1px;
        border-radius: 4px;
        padding: 5px 3px;*/
}


/* .gotoXYComponent .btn-default {
        
        background-color: #BABFC5;
    }

        .gotoXYComponent .btn-default:hover,
        .gotoXYComponent .btn-primary:hover  {
            background-color: #e9e9e9;
        }

    .gotoXYComponent .btn-primary {
        background-color: #337FD4;
    }

    .gotoXYComponent .btn {
        width: 70px;
        border-radius: 4px;
        padding-left: 0px;
        border-width: 1px;
        color: white;
        border-width: 0px;
    }
*/


.gotoXYComponent .margin {
    margin-right: 10px;
}

/*overide*/
.gotoXYComponent .amos-textbox-input {
    border-radius: 5px;
}

.gotoXYComponent .amos-dropdown {
    top: inherit !important;
    right: inherit !important;
}

.gotoXY.awesome-panel {
    background-color: rgba(255, 255, 255, 0) !important;
}

    .gotoXY.awesome-panel > .container {
        background-color: rgba(255, 255, 255, 0.5) !important;
    }
