@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br /><br /><br /><br />
    <form>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <span class="col-lg-4 col-md-4 col-sm-3"></span>

            <span class="col-lg-4 col-md-4 col-sm-6">
                <span class=" p-3 mb-2 col-container col-container-white text-dark ph2 pv2">
                

                    <span class="h4">
                    @if (!ViewBag.IsExpired)
                       {
                         <label>Change Password</label>
                        }
                     else
                       {
                        <label>Reset Password</label>
                        }
                     </span><br /><br /><br />
                    @Html.Password("OldPassword", null, new { @class = "form-control", @placeholder = "Old Password", @style = "margin-button:3rem" })<br /><br />
                    @Html.Password("NewPassword", null, new { @class = "form-control", @placeholder = "New Password" })<br /><br />
                    @Html.Password("ConfirmNewPassword", null, new { @class = "form-control", @placeholder = "Confirm New Password" })<br /><br />
                    <input onclick="ChangePassword()" class="btn btn-lg btn-info btn-block" value="Confirm" type="button">
                </span>   </span>
      
            <span class="col-lg-4 col-md-4 col-sm-3"></span>
        </div>
    </form>

    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">

        var apppath = '@Url.Content("~/")';
        var serverpath = apppath.substring(0, apppath.length - 1);
        var txtOldPassword = $("#OldPassword").val();
        var txtNewPassword = $("#NewPassword").val();
        var txtConfirmNewPassword = $("#ConfirmNewPassword").val();


        function ChangePassword() {

            var txtOldPassword = $("#OldPassword").val();
            var txtNewPassword = $("#NewPassword").val();
            var txtConfirmNewPassword = $("#ConfirmNewPassword").val();
            var url = "";
            var serverpath = apppath.substring(0, apppath.length - 1);

            if (txtNewPassword == "") {
                alert("โปรดใส่ password");
            }
                //else {
                //    if (!/^\w+$/.test(txtNewPassWord)) {
                //        alert("password ไม่ถูกต้อง password ต้องไม่มีอักขระพิเศษ");
                //    }
            else {
                if (txtNewPassword.length < 8) {
                    alert("password น้อยกว่า8ตัว โปรดใส่ password ใหม่");
                }
                else {
                    if (!/[A-Z]/.test(txtNewPassword)) {
                        alert("password ไม่ถูกต้อง ต้องมีอักษรพิมพ์ใหญ่อย่างน้อย1อักษร");

                    }
                    else {
                        if (!/[a-z]/.test(txtNewPassword)) {
                            alert("password ไม่ถูกต้อง ต้องมีอักษรพิมพ์เล็กอย่างน้อย1อักษร");
                        }

                        else {

                            if (!/[0-9]/.test(txtNewPassword)) {
                                alert("password ไม่ถูกต้อง ต้องมีตัวเลขอย่างน้อย1ตัว");

                            }
                            else {

                                //  window.location.href = serverpath + /user/login;

                                $.ajax({
                                    async: true,
                                    cache: false,
                                    url: serverpath + '/User/ChangePassword',
                                    type: 'POST',
                                    data: { OldPassWord: txtOldPassword, NewPassword: txtNewPassword, ConfirmNewPassword: txtConfirmNewPassword },
                                    success: function (response) {
                                        alert(response);
                                        if (response == "Password changed successfully") {
                                            window.location.href = serverpath + '/User/Login';

                                        }
                                    }
                                });

                            }
                        }
                    }
                }
            }
            // }

        };
    </script>
