@{
    ViewBag.Title = "ResetPassword";
    Layout = null;
}

<h2>Reset Password</h2>
@if (!ViewBag.IsExpired)
{
    <p>Change Password</p>
}
else { 
    <p>Reset Password</p>
}
<form>
    @Html.Password("OldPassword", null, new { @class = "form-control", @placeholder = "Old Password" })
    @Html.Password("NewPassword", null, new { @class = "form-control", @placeholder = "New Password" })
    @Html.Password("ConfirmNewPassword", null, new { @class = "form-control", @placeholder = "Confirm New Password" })
    <input onclick="ChangePassword()" class="btn btn-lg btn-info btn-block" value="Confirm" type="button">
</form>

<script type="text/javascript">

            var apppath = '@Url.Content("~/")';
            var serverpath = apppath.substring(0, apppath.length - 1);
            var txtOldPassWord = $("#OldPassword").val();
            var txtNewPassWord = $("#NewPassword").val();
            var txtConfirmNewPassWord = $("#ConfirmNewPassword").val();
            document.body.style.backgroundImage = "url('" + serverpath + "/Content/Images/bg1.png')";
            document.getElementById("loginDiv").style.backgroundImage = "url('" + serverpath + "/Content/Images/bg1.png')";
            function ChangePassword() {

                var txtOldPassWord = $("#OldPassword").val();
                var txtNewPassWord = $("#NewPassword").val();
                var txtConfirmNewPassWord = $("#ConfirmNewPassword").val();
                var url = "";
                var serverpath = apppath.substring(0, apppath.length - 1);

                if (txtNewPassWord == "") {
                    alert("โปรดใส่ password");
                }
                    //else {
                    //    if (!/^\w+$/.test(txtNewPassWord)) {
                    //        alert("password ไม่ถูกต้อง password ต้องไม่มีอักขระพิเศษ");
                    //    }
                else {
                    if (txtNewPassWord.length < 8) {
                        alert("password น้อยกว่า8ตัว โปรดใส่ password ใหม่");
                    }
                    else {
                        if (!/[A-Z]/.test(txtNewPassWord)) {
                            alert("password ไม่ถูกต้อง ต้องมีอักษรพิมพ์ใหญ่อย่างน้อย1อักษร");

                        }
                        else {
                            if (!/[a-z]/.test(txtNewPassWord)) {
                                alert("password ไม่ถูกต้อง ต้องมีอักษรพิมพ์เล็กอย่างน้อย1อักษร");
                            }

                            else {

                                if (!/[0-9]/.test(txtNewPassWord)) {
                                    alert("password ไม่ถูกต้อง ต้องมีตัวเลขอย่างน้อย1ตัว");

                                }
                                else {

                                    //  window.location.href = serverpath + /user/login;

                                    $.ajax({
                                        async: true,
                                        cache: false,
                                        url: serverpath + '/User/ChangePassword',
                                        type: 'POST',
                                        data: { OldPassWord: txtOldPassWord, NewPassWord: txtNewPassWord, ConfirmNewPassWord: txtConfirmNewPassWord },
                                        success: function (response) {
                                            alert(response);
                                            if (response == "เปลี่ยน Password เรียบร้อย") {
                                                window.location.href = serverpath + '/User/Login';

                                            }
                                        }
                                    });

                                }
                            }
                        }
                    }
                }
                // }

            };
</script>