@{
    ViewBag.Title = "Help";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container-fluid" style="margin-top:-.8rem">
 <div class="col-lg-1"></div>
       <div class="col-lg-10 col-container-white text-dark">
        <h4>User manual for NGROUR system</h4>
        <hr class="style" />

        <h4 class="text-muted"><b>คู่มือการใช้งาน </b></h4>
        <div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td style="width:500px">คู่มือการใช้งานระบบ NGROUR ทั่วไป</td>
                        <td>@Html.ActionLink("Download", "Download", new { filetype = "1" })</td>
                    </tr>
                    <tr>
                        <td style="width:500px">คู่มือการใช้งานระบบ NGROUR เพิ่มเติม (สำหรับ Admin)</td>
                        <td>@Html.ActionLink("Download", "Download", new { filetype = "2" })</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>