@{
    ViewBag.Title = "Help";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container-fluid" style="margin-top:-.8rem">
    <div class="col-lg-12 col-container-white text-dark">
        <h4>User manual for NGROUR system</h4>
        <hr class="style" />
      
        <div>
          
        </div>
        
         
        

    </div>

</div>