@{
    ViewBag.Title = "Help";
}

<br />
<div class="container-fluid" style="margin-top:-.8rem">
    <div class="col-lg-12 col-container-white text-dark">
        <h2>คำแนะนำสำหรับการใช้งานระบบ NGROUR</h2>
        <hr class="style" />
    </div>

</div>