/* Add By nattawit.kr 2018/06/15*/
.amos-textbox {
    /*display: block !important;*/
    margin-bottom: 6px;
    -webkit-backface-visibility: hidden;
}

    .amos-textbox .amos-icon-x {
        margin: .7em .8em 0 0;
    }

    .amos-textbox.amos-form-required .amos-label-container:after {
        content: "*";
        color: #d32330;
        position: absolute;
    }

    .amos-textbox > .amos-label-container {
        margin-right: 10px;
    }

        .amos-textbox > .amos-label-container > .amos-textbox-label {
            width: auto;
        }

    .amos-textbox > .amos-textbox-container {
        position: relative;
    }

        .amos-textbox > .amos-textbox-container > .amos-textbox-message {
            position: absolute;
            right: 0;
            width: 100%;
            text-align: right;
            line-height: 16px;
            font-size: 12px;
        }

        .amos-textbox.amos-form-readonly > .amos-textbox-container > .amos-textbox-input {
            display: block !important;
            border-radius: 4px;
            -webkit-backface-visibility: hidden;
            /*background-color: #EAF4FF;*/
            /*background-color: #eeeeee;*/
        }

    .amos-textbox input {
        height: 30px !important;
        padding: 4px 8px;
    }

.amos-textbox-layout {
    height: 30px !important;
}

.amos-textbox-input:hover {
    box-shadow: 0 0 1px rgb(4, 147, 200);
}

.amos-textbox.amos-form-focus .amos-textbox-input,
.amos-textarea.amos-form-focus .amos-textarea-input {
    border: 1px solid rgb(4, 147, 200) !important;
    box-shadow: 0 0 1px rgb(4, 147, 200) !important;
}

.amos-textarea.amos-form-disabled .amos-textarea-input {
    box-shadow: none;
}

*::-moz-placeholder {
    font-style: normal;
}

.amos-alert-indicator .amos-button:hover {
    background-color: #e9e9e9;
}

.amos-alert-indicator .amos-button {
    background-color: #337FD4;
    width: 70px;
    border-radius: 4px;
    padding-left: 0px;
    border-width: 1px;
    color: white;
    border-width: 0px;
    margin-right: 10px;
}

.amos-dialog-title-text {
    color: #337FD4;
}

.amos-dialog-icon-close:hover {
}

.amos-dialog-icon-close {
    top: 6px;
    background: url('../js/system/gis/resources/images/icn_close1_normal.png') no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("../js/system/gis/resources/images/icn_close1_normal.png");
    background-size: auto auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-position-x: 0%;
    background-position-y: 0%;
}

.amos-alert-button-container {
    text-align: center;
}

.amos-dropdown {
    /*background-color: #bebebe !important;
    position: fixed !important;*/
}

.amos-dropdown-inner {
    /*max-height: 140px !important;*/
}

.amos-date-textbox .amos-dropdown-inner {
    /*max-height: 180px !important;*/
}

.amos-dropdown-inner *:not(.amos-list-no-item):not(.amos-calendar-cell) {
    overflow: visible;
    white-space: normal;
    text-align: left;
}

.amos-list-li-item {
    padding: 4px 8px;
    -webkit-backface-visibility: hidden;
    background-color: #FAF4FF;
}

.amos-dropdown-inner *:not(.amos-list-no-item):not(.amos-calendar-cell) {
    overflow: visible;
    white-space: normal;
    text-align: left;
}
/*End Add By nattawit.kr 2018/06/15*/

.amos-button:active {
    box-shadow: 0 0 0 2px #337FD4;
    border-color: #337FD4;
}

.esriPopup {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    .esriPopup .titlePane {
        height: 30px;
        background-color: white;
        color: #337FD4;
        line-height: 30px;
        border-bottom: 1px solid #E2E2E1;
        padding-left: 15px;
        font-weight: bold;
    }

    .esriPopup .titleButton {
        top: 6px;
        background: url('../js/system/gis/resources/images/icn_close1_normal.png') no-repeat;
    }

        .esriPopup .titleButton:hover {
            background: url('../js/system/gis/resources/images/icn_close1_hover.png') no-repeat;
        }

        .esriPopup .titleButton.maximize {
            display: none;
        }

        .esriPopup .titleButton.close {
            width: 20px;
            height: 17px;
        }

    .esriPopup .actionsPane,
    .esriPopup .contentPane {
        background-color: white;
        /*background-color: rgba(255, 255, 255, 0.5) !important;*/
    }


.esriLayerList .esriToggleButton {
    width: auto;
}

.esriToggleButton.esri-icon-down {
    background: url('../js/system/gis/resources/images/arrow_dropdown1_selected.png') no-repeat;
    margin: 15px 0 0;
}

.esri-icon-down:before {
    content: "";
}

.esriToggleButton.esri-icon-right {
    background: url('../js/system/gis/resources/images/arrow_dropdown1_normal.png') no-repeat;
    margin: 15px 15px 0;
}

.esri-icon-right:before {
    content: "";
}

.esriLayerList .esriHasTabContent .esriLabel, .esriLayerList .esriHasButton .esriLabel {
    font-size: 12px;
}
