<?xml version="1.0" encoding="utf-8" ?>

<!--Use the ProxyConfig tag to specify the following proxy level settings.
      mustMatch="true" : When true only the sites listed using serverUrl will be proxied. Set to false to proxy any site, which can be useful in testing. However, we recommend setting it to "true" for production sites.
      allowedReferers="http://server.com/app1,http://server.com/app2" : A comma-separated list of referer URLs. Only requests coming from referers in the list will be proxied.-->

<ProxyConfig allowedReferers="*"
             mustMatch="false">



  <!--Add a new \<serverUrl\>
    entry for each service that will use the proxy. The proxy.config allows you to use the serverUrl tag to specify one or more ArcGIS Server services that the proxy will forward requests to. The serverUrl tag has the following attributes:
        url: Location of the ArcGIS Server service (or other URL) to proxy. Specify either the specific URL or the root (in which case you should set matchAll="false").
        matchAll="true": When true all requests that begin with the specified URL are forwarded. Otherwise, the URL requested must match exactly.
        bypassAuthen: If true, proxy server will not check for authenication. This mean that "anyone" (including hacker) can use this proxy server to forward the url you specified.
        checkCSRFToken: If true, proxy server will check if the request is fake or not. Fake request is the situation that user open our real domain webpage, then user open another hacker domain webpage that have fake request send to our server. 
        username: Username to use when requesting a token - if needed for ArcGIS Server token based authentication.
        password: Password to use when requesting a token - if needed for ArcGIS Server token based authentication.
        clientId: Used with clientSecret for OAuth authentication to obtain a token - if needed for OAuth 2.0 authentication. **NOTE**: If used to access hosted services, the service(s) must be owned by the user accessing it, (with the exception of credit-based esri services, e.g. routing, geoenrichment, etc.)
        clientSecret: Used with clientId for OAuth authentication to obtain a token - if needed for OAuth 2.0 authentication.
        oauth2Endpoint: When using OAuth 2.0 authentication specify the portal specific OAuth 2.0 authentication endpoint. The default value is https://www.arcgis.com/sharing/oauth2/.
        accessToken: OAuth2 access token to use instead of on-demand access-token generation using clientId & clientSecret.
        rateLimit: The maximum number of requests with a particular referer over the specified **rateLimitPeriod**.
        rateLimitPeriod: The time period (in minutes) within which the specified number of requests (rate_limit) sent with a particular referer will be tracked. The default value is 60 (one hour).
        useSession: enable session passing default is false-->

  <serverUrls>
    <serverUrl url="http://services.arcgisonline.com"
               matchAll="true"
               checkCSRFToken="false"
               bypassAuthen="true"/>
    <serverUrl url="http://server.arcgisonline.com"
               matchAll="true"
               checkCSRFToken="false"
               bypassAuthen="true"/>
    <serverUrl url="services/DataService.svc"
               matchAll="true"
               useSession="true"
               checkCSRFToken="false"
               bypassAuthen="true"/>

    <!-- ===== dev phase ===== -->

    <serverUrl url="https://nonpttarcgisserver.pttplc.com/arcgis"
                 matchAll="true"
                 checkCSRFToken="false"
                 bypassAuthen="true"
                 username="pttouruser"
                 password="pttouruser2018"/>

    <!-- ===== dev phase ===== -->
    
  </serverUrls>
  



  <proxyCredential address=""
                   domain=""
                   username=""
                   password=""
                   bypassOnLocal="true"
                   bypassUrl=""
                     />
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
