<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <!--<add name="dbConnection" connectionString="Data Source=157.179.28.136/gis1022; User ID=amos; Password=amos; Persist Security Info=True;" providerName="Oracle.DataAccess.Client"/>-->
    <!--<add name="site_dbConnection" connectionString="Data Source=157.179.28.136\db2014; User ID=amos; Password=amos; Persist Security Info=True;" providerName="System.Data.SqlClient"/>-->
    <add name="site_dbConnection" connectionString="Data Source=10.120.2.125:1561/TGIS; User ID=PTTOUR; Password=PTTOUR; Persist Security Info=True;" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
  <appSettings>
    <add key="APP_VERSION" value=""/>
    <!-- 
    inhouse_
    site_
    -->
    <add key="PREFIX" value="site_" lockItem="true"/>
    <add key="site_API_SERVER" value="//nonpttgis.pttplc.com/arcgis_js_api/library/3.24/3.24" lockItem="true"/>
    <add key="API_SERVER" value="//157.179.28.137/arcgis_js_api/library/3.24/3.24" lockItem="true"/>
    <add key="AMOS_SERVER" value="//nonpttgis.pttplc.com" lockItem="true"/>
    <!--<add key="AMOS_SERVER" value="//157.179.28.137" lockItem="true"/>-->
    <add key="IS_DEBUG" value="1" lockItem="true"/>
    <add key="CSS_DOJO" value="${API_SERVER}/dijit/themes/claro/claro.css" lockItem="true"/>
    <add key="CSS_ESRI" value="${API_SERVER}/esri/css/esri.css" lockItem="true"/>
    <add key="CSS_AMOS" value="${JS_AMOS_URL}/amos/themes/classic/classic.css" lockItem="true"/>
    <add key="JS_AMOS_URL" value="${AMOS_SERVER}/amos/library/esrith" lockItem="true"/>
    <!--<add key="JS_AMOS_URL" value="${AMOS_SERVER}/amos/new/framework/production/library/releases/latest/library/esrith" lockItem="true"/>-->
    <add key="JS_API_URL" value="${API_SERVER}/init.js" lockItem="true"/>
    <add key="CONFIG_DOJO" value="cfg/dojo.js" lockItem="true"/>
    <add key="CONFIG_ESRI" value="cfg/esri.js" lockItem="true"/>
    <add key="CONFIG_APP" value="cfg/app.js" lockItem="true"/>

    <!-- GUEST AUTHENTICATION
        1. to completely bypass authentication : (bypass database, configuration in "cfg/-json-config.private" and "cfg/-json-session.private")
                GUEST_ENABLED = 1
                GUEST_USER_ID = 999999999
        2. normaly guest authentication :
                GUEST_ENABLED = 1
                GUEST_USER_ID = userid must be define in Database (Ex. 105)
    -->
    <add key="GUEST_ENABLED" value="1" lockItem="true"/>
    <add key="GUEST_USER_ID" value="999999999" lockItem="true"/>

    <!-- AUTHENTICATION_TYPE
    1 => Database only
    2 => AD only -> see AD_ config (AD_PATH,AD_DOMAIN,AD_USERNAME)
    3 => both
    -->
    <add key="AUTHENTICATION_TYPE" value="1" lockItem="true"/>
    <!--mapping PI_ with session's key. (*session's key must be startswith DVS_)-->
    <add key="DVS_USER_ID" value="DVS_USER_ID|DVS_ADMIN_USERID" lockItem="true"/>
    <!--log configuration-->
    <!--encryption value of procedure's parameter before write logs. Ex.USERID,PASSWORD-->
    <add key="PARAMETER_ENCRYPT" value="USER_ID|PASSWORD|DVS_USER_ID" lockItem="true"/>
    <add key="LOG_SESSION" value="USER_ID|NAME|SURNAME" lockItem="true"/>
    <!--upload configuration-->
    <add key="STORAGE_PATH" value="C:\Temp" lockItem="true"/>
    <add key="TEMPORARY_PATH" value="${STORAGE_PATH}\temp" lockItem="true"/>
    <add key="PATH_UPLOAD_UM" value="${STORAGE_PATH}\um" lockItem="true"/>
    <add key="THUMBNAIL_PATH" value="${STORAGE_PATH}\temp\thumbnail" lockItem="true"/>
    <!--for NetworkConnector-->
    <add key="UNC_DOMAIN" value="" lockItem="true"/>
    <add key="UNC_USERNAME" value="Administrator" lockItem="true"/>
    <add key="UNC_PASSWORD" value="P@ssw0rd" lockItem="true"/>
    <!-- enable _HTMLInjectionBase.encodeHtml() function on client (encodeHtml() function is mostly used to encode content before displaying on website) -->
    <add key="ENCODE_HTML" value="1"/>
    <!-- enable HTML Injection prevention on textbox, textarea, ...  -->
    <add key="PREVENT_HTML_INPUT" value="1"/>
    <!-- list of character that control will reject if present on input  -->
    <add key="PREVENT_HTML_INPUT_CHAR_LIST" value="&lt;&gt;&amp;&quot;'/"/>
    <!-- email -->
    <add key="EMAIL_SERVER" value="10.254.7.15" lockItem="true"/>
    <add key="EMAIL_PORT" value="25" lockItem="true"/>
    <add key="EMAIL_CREDENTIAL_USER" value="sendmessage.test2014@gmail.com" lockItem="true"/>
    <add key="EMAIL_CREDENTIAL_PASS" value="1234567890qwer" lockItem="true"/>
    <add key="EMAIL_FROM" value="xxxx@xxx.xxx" lockItem="true"/>
    <!-- Forget Password -->
    <add key="EMAIL_SERVER_FLAG" value="true"/>
    <add key="AD_CONNECT_FLAG" value="false"/>
    <!--for ActiveDirConnector-->
    <add key="AD_PATH" value="LDAP://157.179.28.127" lockItem="true"/>
    <add key="AD_DOMAIN" value="esri" lockItem="true"/>
    <add key="AD_USERNAME" value="esri4549" lockItem="true"/>
    <add key="AD_PASSWORD" value="esri4549" lockItem="true"/>
    <add key="AD_USERNAME_FIELD" value="SAMAccountName" lockItem="true"/>
    <add key="AD_MEMBER_FIELD" value="memberOf" lockItem="true"/>
    <add key="AD_DIRECTORY_PROPERTY_SEARCH_FIELDS" value="mail" lockItem="true"/>
    <add key="AD_DIRECTORY_PROPERTY_OUTPUT_FIELDS" value="" lockItem="true"/>
    <add key="AD_DIRECTORY_PROPERTY_OUTPUT_DETAIL_FIELDS" value="name,sn,cn,mail,memberOf" lockItem="true"/>
    <!-- Notification -->
    <add key="FCM_PUCH_URL" value="https://fcm.googleapis.com/fcm/send" lockItem="true"/>
    <add key="FCM_SERVER_KEY" value="AIzaSyDp1A3PdTqXz3E4y-iyW_5YXr1gdRBwawg" lockItem="true"/>
    <!-- 
        enable allowing data service (.svc) to be accessed from proxy server only
        Proxy IP address in format of "IP 1|IP 2|IP 3 ..." 
        
        WARNING: disable this will affect CSRF security, and duplicate authentication security.
    -->
    <add key="ENABLE_DATASERVICE_ACCESS_FROM_PROXY_SERVER_ONLY" value="false" lockItem="true"/>
    <add key="PROXY_SERVER_IP" value="::1|157.179.134.10" lockItem="true"/>
    <!-- Enable CSRF checking-->
    <add key="ENABLE_CSRF_CHECKING" value="true" lockItem="true"/>
    <!-- Enable duplicate authentication checking-->
    <add key="ENABLE_DUPLICATE_AUTHEN_CHECKING" value="true" lockItem="true"/>
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Page.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <!-- Configure site to serve JSON files -->
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <remove fileExtension=".kml"/>
      <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml"/>
      <remove fileExtension=".kmz"/>
      <mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz"/>
      <!-- Configure site to serve font files -->
      <remove fileExtension=".otf"/>
      <mimeMap fileExtension=".otf" mimeType="font/otf"/>
    </staticContent>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <clear/>
      <error statusCode="401" prefixLanguageFilePath="" path="error\authorizationErrorPage.html" responseMode="File"/>
      <error statusCode="403" prefixLanguageFilePath="" path="error\defaultErrorPage.html" responseMode="File"/>
      <error statusCode="404" prefixLanguageFilePath="" path="error\defaultErrorPage.html" responseMode="File"/>
      <error statusCode="500" prefixLanguageFilePath="" path="error\defaultErrorPage.html" responseMode="File"/>
    </httpErrors>
  </system.webServer>
  <system.web>
    <!--<httpCookies requireSSL="true"/>-->
    <sessionState cookieName="esrith.session.id"/>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DataServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="DataService">
        <endpoint address="" behaviorConfiguration="DataServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="DataService"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed"/>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <log4net>
    <appender name="LogStoreAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="..\\Logs\\%date{yyyy-MM}\\store-%date{yyyy-MM-dd}.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="50MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d - %m%n"/>
      </layout>
    </appender>
    <appender name="LogRequestAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="..\\Logs\\%date{yyyy-MM}\\request-%date{yyyy-MM-dd}.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="50MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d - %m%n"/>
      </layout>
    </appender>
    <appender name="LogDetailAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="..\\Logs\\%date{yyyy-MM}\\detail-%date{yyyy-MM-dd}.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="50MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d - %m%n"/>
      </layout>
    </appender>
    <logger name="LogStore">
      <level value="ALL"/>
      <appender-ref ref="LogStoreAppender"/>
    </logger>
    <logger name="LogRequest">
      <level value="ERROR"/>
      <appender-ref ref="LogRequestAppender"/>
    </logger>
    <logger name="LogDetail">
      <level value="ALL"/>
      <appender-ref ref="LogDetailAppender"/>
    </logger>
  </log4net>
</configuration>