@model PTT_NGROUR.Models.ViewModel.ModelOmIndex

@{
    List<PTT_NGROUR.Models.DataModel.ModelIntervalTypeResults> data = Model.Completion.Gate.Activity;
    PTT_NGROUR.Models.DataModel.ModelOMMaster.ModelOMMasterMaintenanceLevel _master = null;
}

<div id="chartWrapperAccumulateGate" class="chart-wrapper">
    <div id="chartAccumulateGate" class="chart"></div>
</div>