@model PTT_NGROUR.Models.ViewModel.ModelOmIndex

@{
    List<PTT_NGROUR.Models.DataModel.ModelIntervalTypeResults> data = Model.Completion.Meter.Activity;
    PTT_NGROUR.Models.DataModel.ModelOMMaster.ModelOMMasterMaintenanceLevel _master = null;
}

@if (data.Count() > 0)
{
    <div id="chartWrapperAccumulateMeter" class="chart-wrapper">
        <div id="chartAccumulateMeter" class="chart"></div>
    </div>
}