@model PTT_NGROUR.Models.ViewModel.ModelOmIndex

@{
    List<PTT_NGROUR.Models.DataModel.ModelTypeResults> data = Model.Completion.Pipeline.Activity;
    PTT_NGROUR.Models.DataModel.ModelOMMaster.ModelOMMasterPipeline _master = null;
}

<style>
    .xaxis line {
        fill: none;
        stroke: none;
    }

    .monthaxis text {
        fill: #a4a4a4;
    }

    .monthaxis .domain {
        display: none;
    }
</style>

<div id="chartWrapperAccumulatePipeline" class="chart-wrapper">
    <div id="chartAccumulatePipeline" class="chart"></div>
</div>