@model PTT_NGROUR.Models.ViewModel.ModelOmIndex
@{
    ViewBag.Title = "OM";
}

<style>
    .table > tbody > tr > th {
        vertical-align: middle !important;
    }

    .table > thead > tr > th {
        vertical-align: middle !important;
    }

    .chart-container {
        position: relative;
        margin: auto;
        height: 80vh;
        width: 80vw;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 7px;
     
    }

    .textAlignVer {
        display: block;
        filter: flipv fliph;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: relative;
        white-space: nowrap;
      
    }
    .panel-heading {
        cursor: pointer;
    }
    .panel-default > .panel-heading {
        background-image: none;
        background-color: #d9edf7;
        border: .5px solid #d3eefc;
    }
        .panel-default > .panel-heading:hover {
            background-color: #bce8f1;
        }
         .panel-default {
            border-top: none;
        }
    .panel-title > a {
        color: #31708f !important;
    }
    .panel-group .panel {
        border-radius: 0px;
    }

    .bs-example {
        margin: 20px;
    }

    .panel-title .glyphicon {
        font-size: 11px;
    }
        /* .tableSum > tbody > tr:nth-child(even) > td,
    .tableSum > thead:nth-last-child(-n+2) > tr:nth-last-child(-n+2) > th {
        background-color: #d9edf7;
    }
    .tableSum > thead:first-child > tr:first-child > th {
        background-color: #52a0db;
    }
    .textheadSumT {color:#fbdb1b} */
</style>

<div class="ph2 ph1-xs pt-15px">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-sm-3 pb1">
            <select class="selectpicker fz-12px form-control fz-12px" name="MultiRegion" id="MultiRegion" multiple data-selected-text-format="count" data-live-search="true" data-actions-box="true" style="margin-bottom:-1rem;">
                @foreach (PTT_NGROUR.Models.DataModel.ModelRegion ml in Model.ListRegion)
                {
                    <option value="@ml.REGION_ID" class="text-grey fz-12px" style="word-wrap:break-word;font-size:15px">@ml.REGION_NAME</option>
                }
            </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-7 pb1">
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" name="radioMY" id="radioMonth" checked="checked" onclick="javascript:Check();">
                    <label for="radioMonth">Month</label>
                </span>
                <span class="input-group-addon">
                    <input type="radio" name="radioMY" id="radioYear" onclick="javascript: Check();">
                    <label for="radioYear">Year</label>
                </span>
                <input type="text" placeholder="Month" class="form-control form-control-sm fz-12px" id="Month-filter" />
                <input type="text" placeholder="Year" class="form-control form-control-sm fz-12px col-xs-3" id="Year-filter" style="display:none" />
                <span class="input-group-btn">
                    <button class="btn btn-block btn-primary col-xs-3" id="btnSearch">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                </span>
            </div>
        </div>

    </div>
    <br />
    <div id="app" class="container-fluid ph0-xs ">

        <div class="bs-example">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#Summary">
                        <h4 class="panel-title">
                            <a class="no-underline" style="color: #31708f;">Summary<span class="glyphicon glyphicon-plus fr"></span></a>
                        </h4>
                    </div>
                    <div id="Summary" class="panel-collapse collapse in">
                        <div class="panel-body bg-grey-100">
                            <div class=" ph2 ph1-xs pv2 col-container-white">
                                <div class="table-responsive">
                                    <table class="tableSum table table-bordered ">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" colspan="2" class="textheadSumT h4 b">Pipeline</th>
                                                <th colspan="5">
                                                    {{ currentMonthText }} {{ Year }}
                                                </th>
                                                <th colspan="5">
                                                    January - {{ currentMonthText }} {{ Year }} (Accumulate)
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>Plan</th>
                                                <th>Actual</th>
                                                <th>% completion</th>
                                                <th>% Major<br />% Minor</th>
                                                <th>% Overall</th>
                                                <th>Plan</th>
                                                <th>Actual</th>
                                                <th>% completion</th>
                                                <th>% Major<br />% Minor</th>
                                                <th>% Overall</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-if="pipeline === null">
                                                <td colspan="12" class="text-center">
                                                    <h2>ไม่พบข้อมูล</h2>
                                                </td>
                                            </tr>
                                            <template v-else
                                                      v-for="(type, indexType) in pipeline.Summary.Current">
                                                <template v-for="(item, i) in type.Activities">
                                                    <tr>
                                                        <td v-if="i === 0"
                                                            :rowspan="type.Activities.length"
                                                            style="text-align: center; vertical-align: middle;">
                                                            <span class="textAlignVer">
                                                                {{ type.PM_TYPE }}
                                                            </span>
                                                        </td>
                                                        <td class="text-left">
                                                            {{ item.PM_NAME }}
                                                        </td>
                                                        <td><span>{{ item.PLAN }}</span></td>
                                                        <td><span>{{ item.ACTUAL }}</span></td>
                                                        <td><span>{{ item.PERCENTAGE }}%</span></td>
                                                        <td v-if="i === 0"
                                                            :rowspan="type.Activities.length">
                                                            <span>{{ type.Percentage }}</span>
                                                        </td>
                                                        <td v-if="indexType === 0 && i === 0"
                                                            rowspan="11">
                                                            <span>
                                                                {{ pipeline.Summary.CurrentOrverallPercentage }}
                                                            </span>
                                                        </td>

                                                        <td><span>{{ pipeline.Summary.Accumulate[indexType].Activities[i].PLAN }}</span></td>
                                                        <td><span>{{ pipeline.Summary.Accumulate[indexType].Activities[i].ACTUAL }}</span></td>
                                                        <td><span>{{ pipeline.Summary.Accumulate[indexType].Activities[i].PERCENTAGE }}</span></td>
                                                        <td v-if="i === 0"
                                                            :rowspan="type.Activities.length">
                                                            <span>{{ pipeline.Summary.Accumulate[indexType].Percentage }}</span>
                                                        </td>
                                                        <td v-if="indexType === 0 && i === 0"
                                                            rowspan="11">
                                                            <span>
                                                                {{ pipeline.Summary.AccumulateOrverallPercentage }}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </template>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                                <br />

                                <!-- Summary Gatestation Table-->
                                <div class="table-responsive">
                                    <table class="tableSum table table-bordered">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class="textheadSumT">Equipment<br />(Gate & BV & Reducing St.)</th>
                                                <th colspan="4">Month</th>
                                                <th colspan="4">Month - Month Year (Accumulate)</th>
                                            </tr>
                                            <tr>

                                                <th>Plan</th>
                                                <th>Actual</th>
                                                <th>% completion</th>
                                                <th>% Overall</th>
                                                <th>Plan</th>
                                                <th>Actual</th>
                                                <th>% completion</th>
                                                <th>% Overall</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td class="text-left">ML 1 : (Visual Inspection) (จำนวนสถานีฯ)</td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td rowspan="3"><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td rowspan="3"><span></span></td>


                                            </tr>
                                            <tr>
                                                <td class="text-left"><span>ML 2 : (Calibration, Testing) (จำนวนสถานีฯ)</span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>

                                            </tr>
                                            <tr>
                                                <td class="text-left"><span>ML 3 : (Overhual, Replacement) (จำนวนสถานีฯ)</span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <br />

                                <!-- Summary Metering Table-->
                                <div class="table-responsive">
                                    <table class="tableSum table table-bordered">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class="textheadSumT">Equipment<br />(M/R St.)</th>
                                                <th colspan="4">Month</th>
                                                <th colspan="4">Month - Month Year (Accumulate)</th>
                                            </tr>
                                            <tr>

                                                <th>Plan</th>
                                                <th>Actual</th>
                                                <th>% completion</th>
                                                <th>% Overall</th>
                                                <th>Plan</th>
                                                <th>Actual</th>
                                                <th>% completion</th>
                                                <th>% Overall</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td class="text-left">ML 1 : (Visual Inspection) (จำนวนสถานีฯ)</td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td rowspan="3"><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td rowspan="3"><span></span></td>


                                            </tr>
                                            <tr>
                                                <td class="text-left"><span>ML 2 : (Calibration, Testing) (จำนวนสถานีฯ)</span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>

                                            </tr>
                                            <tr>
                                                <td class="text-left"><span>ML 3 : (Overhual, Replacement) (จำนวนสถานีฯ)</span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>
                                                <td><span></span></td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--  Acc Pipeline -->
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#Pipe">
                        <h4 class="panel-title">
                            <a class="no-underline">Pipeline<span class="glyphicon glyphicon-plus fr"></span></a>
                        </h4>
                    </div>
                    <div id="Pipe" class="panel-collapse collapse">
                        <div class="panel-body bg-grey-100">
                            <div class=" ph2 ph1-xs pv2 col-container-white">

                                <div class="table-responsive">
                                    <table class="tableSum table table-bordered ">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" colspan="2" class="textheadSumT h4 b">PM Activity</th>
                                                <th rowspan="2" class="textheadSumT h4 b">Interval</th>
                                                <template v-if="pipeline !== null">
                                                    <th v-for="region in pipeline.Results.Results"
                                                        colspan="2">
                                                        {{ region.REGION }}
                                                    </th>
                                                </template>
                                            </tr>
                                            <tr v-if="pipeline !== null">
                                                <template v-for="region in pipeline.Results.Results">
                                                    <th>Plan</th>
                                                    <th>Actual</th>
                                                </template>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-if="pipeline === null">
                                                <td colspan="12" class="text-center">
                                                    <h2>ไม่พบข้อมูล</h2>
                                                </td>
                                            </tr>
                                            <template v-else
                                                      v-for="(type, indexType) in pipeline.Summary.Current">
                                                <template v-for="(pm, i) in type.Activities">
                                                    <tr>
                                                        <td v-if="i === 0"
                                                            :rowspan="type.Activities.length"
                                                            style="text-align: center; vertical-align: middle;">
                                                            <span class="textAlignVer">
                                                                {{ type.PM_TYPE }}
                                                            </span>
                                                        </td>
                                                        <td class="text-left">
                                                            {{ pm.PM_NAME }}
                                                        </td>
                                                        <td><span>1 Week</span></td>

                                                        <template v-for="item in pipeline.Results.Results">
                                                            <td><span>{{ i + (indexType === 0 ? 0 : pipeline.Summary.Current[indexType - 1].Activities.length) }}</</span></td>
                                                            <td><span>{{ i }}</span></td>
                                                        </template>
                                                    </tr>
                                                </template>
                                            </template>
                                            <tr>
                                                <td colspan="2">
                                                    <span>
                                                        CP System : Anode ground bed, Bond Box, Pipe to
                                                        soil potential survey, Close Interval potential survey
                                                        (CIPS), Coating Defect Survey (DCVG)
                                                    </span>
                                                </td>
                                                <td colspan="3" class="text-center"><span>GTM will submit all reports to NGR Quarterly</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#Gate">
                        <h4 class="panel-title">
                            <a class="no-underline">Equipment (Gate & BV & Reducing St.)<span class="glyphicon glyphicon-plus fr"></span></a>
                        </h4>
                    </div>
                    <div id="Gate" class="panel-collapse collapse">
                        <div class="panel-body bg-grey-100">

                            <div class=" ph2 ph1-xs pv2 mb-2p col-container-white">
                                <center> <span class="h2">Gate & BV & Reducing St. PM IA Monitoring Results &#64; </span><span class="h2" id="TextMYTable_gate"></span></center>

                                <div class="table-responsive">
                                    <table id="tblGate" class="table table-bordered"></table>
                                </div>
                            </div>

                            <div class=" ph2 ph1-xs pv2 mb-2p col-container-white">
                                <center> <span class="h2">Gate & BV & Reducing St. PM% Completion (Ref. Master Plan)</span></center>
                                <div id="chart-container" style="height:500px">
                                    <canvas id="canvasGate"></canvas>
                                </div>
                            </div>
                            <!-- section Gate Graph -->
                            <!-- <div class=" ph2 ph1-xs pv2 col-container-white ">
            <div class="row ">
                <div class="   hidden-xs  fr" style="padding-right: 15px;padding-bottom:15px">
                    <button class="btn btn-block btn-primary btn-sm" id="btnZoomIn">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-block btn-primary btn-sm" id="btnZoomOut">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <center> <span class="h2">M/R St. PM IA Monitoring Accumulated Results </span><span class="h2" id="TextMYChart"></span></center>
            </div>
            <div class="row ">
                <div class="col-lg-12" id="divGraph"></div>
            </div>
        </div>-->
                            <!-- End Meter Graph -->
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading " data-toggle="collapse" data-target="#Meter">
                        <h4 class="panel-title">
                            <a class="no-underline">Equipment (M/R St.)<span class="glyphicon glyphicon-plus fr"></span></a>
                        </h4>
                    </div>
                    <div id="Meter" class="panel-collapse collapse">
                        <div class="panel-body bg-grey-100">
                            <div class=" ph2 ph1-xs pv2 mb-2p col-container-white" id="divResultSummary">
                                <center> <span class="h2">PM IA Monitoring Results Summary &#64; </span><span class="h2" id="TextMYTable"></span></center>

                                <div class="table-responsive">
                                    <table id="tblMeter" class="table table-bordered"></table>
                                </div>
                            </div>

                            <div class=" ph2 ph1-xs pv2 mb-2p col-container-white" id="divCompletion">
                                <center> <span class="h2">M/R St. PM% Completion (Ref. Master Plan)</span></center>
                                <div id="chart-container" style="height:500px">
                                    <canvas id="canvas"></canvas>
                                </div>
                            </div>
                            <!-- section Meter Graph -->
                            <div class=" ph2 ph1-xs pv2 col-container-white ">
                                <div class="row ">
                                    <div class="   hidden-xs  fr" style="padding-right: 15px;padding-bottom:15px">
                                        <button class="btn btn-block btn-primary btn-sm" id="btnZoomIn">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-block btn-primary btn-sm" id="btnZoomOut">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <center> <span class="h2">M/R St. PM IA Monitoring Accumulated Results </span><span class="h2" id="TextMYChart"></span></center>
                                </div>
                                <div class="row ">
                                    <div class="col-lg-12" id="divGraph"></div>
                                </div>
                            </div>
                            <!-- End Meter Graph -->
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

    </div>

</div>
@section style{
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

    <link href="~/Scripts/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <style>
        .head {
            background-color: #e0e0e0;
        }

        .ui-datepicker-calendar {
            display: none;
        }

        .vertical-center {
            min-height: 100%; /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */
            display: flex;
            align-items: center;
        }

        #tblMeter {
            background-color: white;
        }

        .cellDisable {
            background-color: #ddd;
        }

        .cellDanger {
            color: red;
        }

        td {
            text-align: right;
        }

        th {
            text-align: center;
            vertical-align: middle;
            line-height: normal;
            display: table-cell;
            min-height: 10em;
        }
    </style>
}

@section scripts{
    @Html.Partial("PartialMeteringScript")
    @Html.Partial("PartialVueScript")
}