@{
    ViewBag.Title = "Risk Management File";
}

@section style{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/datatables.min.css" />
    <link href="~/Scripts/DataTables/DataTables-1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Style/modalbox.css" rel="stylesheet" />
    <style>
        .modal {
            z-index: 3;
        }

        .col-container-white.pannel-block {
            border: 1px solid #ddd !important;
            border-top: none !important;
        }

        .file-box > .panel {
            display: none;
        }

        .file-box.-active > .panel {
            display: block;
        }

        .file-box.-active > .btn {
            display: none;
        }

        .text-ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
}

<br />

<div class="container-fluid" style="margin-top:-.8rem">
    <div class="ph2 ph0-xs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab-rc" aria-controls="rc" role="tab" data-toggle="tab">Route Code</a></li>
            <li role="presentation"><a href="#tab-year" aria-controls="year" role="tab" data-toggle="tab">Year</a></li>
        </ul>
        <div class="p-3 mb-2 col-container-white pannel-block text-dark">
            <div class="tab-content pv2">

                <!-- RC Tab -->
                <div role="tabpanel" class="tab-pane active" id="tab-rc">
                    <div class="ph2 pv2">
                        <table id="tableRC" class="table table-bordered">
                            <thead>
                                <tr>
                                    @*<th>No.</th>*@
                                    <th>Route Code</th>
                                    <th>Last Update at</th>
                                    <th>Last Update by</th>
                                    <th>Files</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!-- RC Tab -->
                </div>
                <!-- RC Tab -->
                <!-- Year Tab -->
                <div role="tabpanel" class="tab-pane" id="tab-year">
                    <!-- Search Bar -->
                    <div class="ph2">
                        <div class="row">
                            <div class="col-sm-5 col-md-4 col-lg-3">
                                <button type="button" class="btn btn-info" onclick="showImport()">
                                    <span class="glyphicon glyphicon-upload"></span>
                                    Import File
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="ph2 pv2">
                        <table id="tableYear" class="table table-bordered">
                            <thead>
                                <tr>
                                    @*<th>No.</th>*@
                                    <th>Year</th>
                                    <th>Last Update at</th>
                                    <th>Last Update by</th>
                                    <th>Files</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <!-- Year Tab -->
            </div>
        </div>
    </div>
</div>

<!--Modal Import -->
<div id="ModalImport" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding: 0;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Import <span data-title></span></h4>
            </div>
            <div class="modal-body">
                <form data-inputs>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm " id="yearPicker" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="file-box">
                        <div class="panel panel-default clearfix">
                            <div class="pull-left">
                                <div class="panel-body">
                                    <input id="file-0" type="file" name="file[]">
                                </div>
                            </div>
                            <div class="pull-right">
                                <div class="panel-body sr-only">
                                    <button type="button" class="btn btn-danger btn-xs" data-remove-file>
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <label for="file-0" class="btn btn-default btn-lg btn-block">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Add file
                        </label>
                    </div>
                </form>
                <div class="help-block">
                    The total file size must be less than 10 MB.
                </div>
            </div>
            <div data-upload-progress class="progress p0 invisible" style="border-radius: 0; margin: 0">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
                    0%
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">Total: <span data-total-file-size>0</span>/10MB</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="onImport()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="ModalDialogSuccess" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-modalbox" role="document">
        <div class="modalbox success animate">
            <div class="icon">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
            <!--/.icon-->
            <h1>Success!</h1>
            <p>
                Your file has been uploaded.
            </p>
            <button type="button" class="btn" data-dismiss="modal">Ok</button>
        </div>
        <!--/.success-->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="ModalDialogError" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-modalbox" role="document">
        <div class="modalbox error animate">
            <div class="icon">
                <span class="glyphicon glyphicon-thumbs-down"></span>
            </div>
            <!--/.icon-->
            <h1>Oh no!</h1>
            <p>
                Oops! Something went wrong,
                <br>
                <span data-text></span>
            </p>
            <button type="button" class="btn" data-dismiss="modal">Try again</button>
        </div>
        <!--/.error-->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts{
    <script src="~/Scripts/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/DataTables/datatables.min.js"></script>
    <script src="~/Scripts/DataTables/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/DataTables-1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/lodash.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript">
        var datatables = {
            rc: $("#tableRC").DataTable(),
            year: $("#tableYear").DataTable()
        }

        $('#yearPicker').datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years",
            autoclose: true,
            inline: true,
        }).datepicker("setDate", new Date());

        function FileSize() {
            var bytes = 0;
            $('[data-total-file-size]').removeClass('text-danger');
            $('[name="file[]"]').each(function () {
                bytes = bytes + (this.files && this.files[0] ? this.files[0].size : 0);
            })
            var totalFileSize = parseFloat((bytes / Math.pow(1024, 2)).toFixed(2))
            $('[data-total-file-size]').text(totalFileSize)
            if (totalFileSize > 10) {
                $('[data-total-file-size]').addClass('text-danger');
            }

            return totalFileSize;
        }

        $('[data-inputs]').on('click', '[data-remove-file]', function () {
            $(this).parents('.panel').remove();
            FileSize();
        });

        $('[data-inputs]')
            .on('change', '[name="file[]"]', function () {
                FileSize();
            })
            .on('change', '[name="file[]"]:last', function () {
                var wrapper = $(this).parents('.file-box')
                $('[data-inputs]').append(function () {
                    var _id = Math.random().toString(36).substr(2, 9);

                    newInput = wrapper.clone(true).find('[name="file[]"]').attr('id', 'file-' + _id).parents('.file-box')
                    return newInput.find('label.btn').attr('for', 'file-' + _id).parents('.file-box').get(0).outerHTML;
                });
                $(this).parents('.file-box').find('.sr-only').removeClass('sr-only').parents('.file-box').addClass('-active');
            });

        function showImport() {
            var modal = $('#ModalImport');
            modal.modal('show');
        }

        function resetForm() {
            $('[data-inputs] > .file-box.-active').remove();
            $('#ModalImport form').get(0).reset();
            $('#yearPicker').datepicker("setDate", new Date());
            FileSize();
        }

        $('#ModalImport').on('hidden.bs.modal', function (e) {
            resetForm();
        })

        function onImport() {
            //if (FileSize() > 10) {
            //    alert('The total file size must be less than 10 MB.')
            //    return
            //}

            var data = new FormData();
            data.append('YEAR', $('#yearPicker').val());

            $('[name="file[]"]').each(function (i, e) {
                if (e.files[0]) data.append('FILES', e.files[0]);
            })

            //data.append('FILE', $('[name="file[]"]').get(0).files[0]);
            //data.append('FILE', $('[name="file[]"]').get(1).files[0]);

            $('[data-upload-progress]').removeClass('invisible');

            axios.post('/Risk/Upload', data, {
                onUploadProgress: function (progressEvent) {
                    var percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total);
                    $('[data-upload-progress] .progress-bar').width(percentCompleted + '%');
                    $('[data-upload-progress] .progress-bar').text(percentCompleted + '%');
                    $('[data-upload-progress] .progress-bar').attr('aria-valuenow', percentCompleted);
                }
            })
                .then(function (res) {
                    resetForm();
                    getRiskJson('year')
                    $('#ModalDialogSuccess').modal('show')
                    $('#ModalImport').modal('hide')
                })
                .catch(function (err) {
                    $('#ModalDialogError [data-text]').text(err)
                    $('#ModalDialogError').modal('show')
                })
                .then(function () {
                    $('[data-upload-progress]').addClass('invisible');
                    $('[data-upload-progress] .progress-bar').width('0%');
                    $('[data-upload-progress] .progress-bar').text('0%');
                    $('[data-upload-progress] .progress-bar').attr('aria-valuenow', 0);
                });
        };

        function initMapTable(tb, data) {
            var _dtb = datatables[tb]

            _dtb.clear()
            if (typeof data !== 'undefined' && data.length > 0) {
                _.forEach(data, function (o) {
                    var tr = ''
                    tr += '<tr>'
                    //tr += `<td></td>`;
                    tr += `<td>${o.RC_NAME || o.YEAR}</td>`;

                    var date = new Date(parseInt(o.LAST_UPDATED_AT.substr(6)));
                    tr += `<td>${date.toLocaleString('th')}</td>`;
                    tr += `<td>${o.LAST_UPADTED_BY}</td>`;

                    var files = ''

                    if (o.FILES && Array.isArray(o.FILES)) {
                        files += '<ol>'
                        o.FILES.forEach(function (v, i) {
                            var link = `@Url.Content("~/Risk/Download")?YEAR=${v.YEAR}&FILE_NAME=${v.FILE_NAME}`
                            if (v.RC_NAME) link += `&RC_NAME=${v.RC_NAME}`
                            files += `<li><a href="${link}">${v.FILE_NAME}</a></li>`
                        })
                        files += '</ol>'
                    }
                    tr += `<td>${files}</td>`;
                    tr += '</tr>'

                    _dtb.row.add($(tr));
                });
            }

            _dtb.draw();
        }

        var getRiskJson = function (mode) {
            var date = new Date();

            axios.post('/Risk/FileJson', {
                mode: mode,
                rc_name: null,
                year: date.getFullYear()
            })
                .then(function (response) {
                    data = response.data
                    initMapTable(mode, data)
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .then(function () {
                    // always executed
                });
        }

        getRiskJson('rc')
        getRiskJson('year')
    </script>
}